@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-color: #000;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 15px;
  color: white;
}

.Event-container {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.10rem;
  font-weight: 600;
  width: 35%;
  margin: 70px auto;
  box-shadow: 0 4px 0px #333;
  border-radius: 15px;
}

.Event-container-width {
  width: 60%;
}
